
*.o
test_program
src/parser.tab.hpp
src/parser.tab.cpp
src/parser.output
src/lexer.yy.cpp
src/c_compiler.o
bin/c_compiler
tmp/formative/*
*.py
*.s
123.c
tmp/compiler/mips/*
tmp/compiler/*
test_program
test_program.o
*.csv
ourtest/newtests/*
